Traversal-Liberty/
Traversal-Starter/
css/
**/Traversal-Liberty/
**/Traversal-Starter/
**/css/
/wwwroot/Traversal-Liberty/
/wwwroot/Traversal-Starter/
/wwwroot/css/
wwwroot/lib/ 
*.min.css
*.min.js
/full/relative/path/for/wwwroot/lib
/full/relative/path/for/wwwroot/Traversal-Liberty/
/full/relative/path/for/wwwroot/Traversal-Starter/
/full/relative/path/for/wwwroot/css/
*.html