<div class="col-xl-4 col-lg-12">
    <div class="card">
        <div class="card-header">
            <h4 class="card-title" id="heading-multiple-thumbnails">Profile Informations and Statistics</h4>
            <a class="heading-elements-toggle">
                <i class="la la-ellipsis-v font-medium-3"></i>
            </a>
        </div>
        <div class="card-content">
            <div class="card-body">
                <p>Ventura Reservation Web App User Dashboard Panel</p>
                <h4 class="card-title">.......</h4>
                <h6>Active Reservation Number: 4</h6>
                <h6>Old Reservation Number: 12</h6>
                <h6>Waiting For Approved Reservation Number: 1</h6>
                <h6>Total Route Number: 16</h6>
                <h6>Our Guide Number: 6</h6>
                <h6>Our Total Guest Number: 1235</h6>
                <h6>Our Avarage Point: 8.97/10</h6>
            </div>
        </div>
    </div>
</div>
